<ion-header>
  <ion-navbar (tap)="tapEvent($event)">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Repertórios ({{items?.length}})</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="unlocked" icon-only (click)="inserir()">
        <ion-icon name="md-add" style="margin-right:10px;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let i of items; let idx = index;">
      <ion-item (click)="itemSelected(i)">
        <h2>
          <b>{{idx + 1}}. {{i.descricao}}</b>
        </h2>
        <p>{{i.qtdmusicas}} música(s)</p>
      </ion-item>
      <ion-item-options side="right" *ngIf="unlocked">
        <button id="btnSlide" ion-button color="dark" (click)="itemSelectedAdd(i)" large padding-left padding-right>
          <ion-icon name="done-all"></ion-icon>
        </button>
        <button id="btnSlide" ion-button color="primary" (click)="edit(i)" large padding-left padding-right>
          <ion-icon name="create"></ion-icon>
        </button>

        <button id="btnSlide" ion-button color="danger" (click)="confirmRemove(i);" large padding-left padding-right>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>